<header>
  <p class="logo"><a href="{{ site.baseurl }}/">Wo Meijer</a></p>


  <label for="hamburger-toggle" id="hamburger">
    <i class="material-symbols-rounded">menu</i>
  </label>
  <input type="checkbox" id="hamburger-toggle">
  
  <ul id="header-links">
    <li><a target="_blank" href="https://www.linkedin.com/in/womeijer/">LinkedIn</a></li>
    <li><a target="_blank">Resume</a></li>
    <li><a target="_blank" href="https://www.tudelft.nl/io/over-io/personen/meijer-w">TU Delft profile</a></li>
    <li><a target="_blank" href="https://scholar.google.com/citations?user=4eH0VpIAAAAJ&hl=en">Google Scholar</a></li>
  </ul>
</header>
