html {
	font-size: 16px;
}

body {
	background-color: $light;
	margin: 0 auto;
	padding: 0;
	font-family: $global-font-family;
}

main {
	margin: 0 auto;
	padding: 1rem 2rem;

	section {
		margin: 1rem 0;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6, p {
	color: $dark;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	font-weight: bold;
	margin: 0rem;
}

code {
	font-family: $code-font-family;
	background-color: $code-background;
}

h1 {
	font-size: $h1-s;

	@include medium {
    font-size: $h1-m;
  }

  @include large {
  	font-size: $h1-l;
  }
}

h2 {
	font-size: $h2-s;

	@include medium {
    font-size: $h2-m;
  }

  @include large {
  	font-size: $h2-l;
  }
}

h3 {
	font-size: $h3-s;

	@include medium {
    font-size: $h3-m;
  }

  @include large {
  	font-size: $h3-l;
  }
}

h4 {
	font-size: $h4-s;
	font-style: italic;

	@include medium {
    font-size: $h4-m;
  }

  @include large {
  	font-size: $h4-l;
  }
}


p, li {
	margin: 0;
	font-size: $p-s;
	
	@include medium {
    font-size: $p-m;
  }

  @include large {
  	font-size: $p-l;
  }
}

/* links */
a {
	font-size: inherit;
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-color-hover;
	text-decoration: underline;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  }

/* list */
.ul-nostyle {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



.noMargin {
	margin: 0;
}

.tags {
	display: flex;
	gap: 0.25rem
}

.tag {
	padding: 2px 8px;
	width: min-content;
	border-radius: 1rem;
}

.tag-publication {
	background-color: mix(#fff, $blue2, 25%);
}

.tag-food {
	background-color: mix(#fff, $blue1, 25%);
}

.tag-farts {
	background-color: mix(#fff, $accent, 25%);
}