/* Typography */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Nunito:wght@400;700&display=swap');


$ibm-plex-mono: 'IBM Plex Mono', monospace;
$nunito: 'Nunito', sans-serif;

$header-font-family: $ibm-plex-mono;
$code-font-family: $ibm-plex-mono;
$global-font-family: $nunito;

/* Colours */
$dark: hsl(64, 30%, 6%);
$red: hsl(64, 100%, 60%);
$blue1: hsl(203, 90%, 55%);
$blue2: hsl(185, 80%, 70%);
$accent: hsl(26, 94%, 60%);
$light: hsl(64, 77%, 98%);

$link-color: mix(#000, $accent, 40%);
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#fff, $link-color, 15%);

$code-background: $blue2;

/* padding */
$padding-s: 0.5rem 1rem;
$padding-m: 1rem 2rem;

/* breakpoints */
$screen-mid-min: 640px;
$screen-large-min: 1020px;

/* font sizes */
$h1-s: 2.25rem;
$h1-m: 3.5rem;
$h1-l: 4.5rem;
$h2-s: 1.5rem;
$h2-m: 1.85rem;
$h2-l: 2.25rem;
$h3-s: 1.25rem;
$h3-m: 1.375rem;
$h3-l: 1.5rem;
$h4-s: 1.25rem;
$h4-m: 1.375rem;
$h4-l: 1.5rem;
$p-s: 1rem;
$p-m: 1.125rem;
$p-l: 1.25rem;